html {
  box-sizing: border-box;
  user-select: none;
}

*, :before, :after {
  outline: none !important;
}

body {
  background-image: url(https://s17.postimg.org/817nb8enz/00w.jpg);
}

.calculator {
  background: #141414;
  border: 2px groove #000;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5),
    inset 0 4px 0 rgba(255, 255, 255, 0.4);
  color: #fff;
  height: 490px;
  margin: 5px auto;
  text-align: center;
  width: 390px;
}

.screen {
  background: silver;
  border: inset;
  border-radius: 2px;
  color: rgba(0, 0, 0, .95);
  cursor: default;
  font-family: 'VT323', monospace;
  font-size: 6.6em;
  height: 15%;
  letter-spacing: -8px;
  line-height: 52px;
  margin: 15px auto;
  padding: 5px;
  text-align: right;
  width: 92%;
}

.screen p {
  margin: -35px 0;
  padding-right: 5px;
}

.buttons {
  margin: 30px auto;
  padding: 0 15px;
  text-align: left;
  width: 92%;
}

.btn {
  background: darkslategrey;
  border: 1px outset darkgrey;
  font-family: 'Source Code Pro', monospace;
  font-size: 3.5em;
  margin: 3px 1px;
}

.btn, .btn:hover, .btn:focus {
  color: #d3d3d3;
}

.btn:active {
  border-style: inset;
}

.numBtn, .decBtn {
  width: 20.45%;
}

.opBtn, .eqBtn {
  background: #0A2414;
}

.eqBtn {
  width: 55%;
}

.clrBtn {
  background: #240A14;
  font-size: 2em;
  padding: .76em 0;
  width: 15.6%;
}
