html {
	box-sizing: border-box;
	overflow-x: hidden;
}

*,
*:before,
*:after {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none !important;
	-webkit-transition: .5s;
	transition: .5s;
}

body {
	background: #301b04 url('https://s17.postimg.org/817nb8enz/00w.jpg') center /cover no-repeat fixed;
}

.calculator {
	width: 390px;
	height: 490px;
	background: rgb(20, 20, 20);
	color: white;
	margin: 5px auto;
	text-align: center;
	border: 2px groove black;
	border-radius: 10px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5), inset 0px 4px 0px rgba(255, 255, 255, 0.4);
}

.screen {
	background: silver;
	color: rgba(0, 0, 0, .95);
	font-family: 'VT323', monospace;
	font-size: 6.6em;
	letter-spacing: -8px;
	text-align: right;
	padding: 5px;
	width: 92%;
	height: 15%;
	line-height: 52px;
	margin: 15px auto;
	border: inset;
	border-radius: 2px;
}

.buttonZone {
	width: 92%;
	text-align: left;
	margin: 30px auto;
	padding: 0px 15px;
}

.buttonZone button {
	font-family: 'Source Code Pro', monospace;
	font-size: 3.5em;
	background: darkslategrey;
}

.btn {
	color: lightgrey !important;
	border: 1px outset darkgrey;
	margin: 3px 1px;
}

.btn:active {
	border: 1px inset darkgrey;
}

.numBtn,
.decBtn {
	width: 20.45%;
}

.opBtn,
.eqBtn {
	background: #0A2414 !important;
}

.errBtn {
	background: #240A14 !important;
	width: 15.6%;
	font-size: 2em !important;
	padding: 0.76em 0;
}

.eqBtn {
	width: 55%;
}
